//  ------- VARIABLES ------- 
$font-stack: 'Helvetica', 'Verdana';
$tile-gap: 10px;
$grid-size: 4;


$black: #333;
$grey: #a88863; //#a88863; //#B39C7D;

$red: #B83E47;
$blue: #205B80;
$green: #9BBF2A;
$yellow: #F0C419;
$cyan: #72D6BE;
$purple: #955BA5;

$tile-width: 90px * 4 / $grid-size;
$tile-height: 100px * 4 / $grid-size;
$container-width: $grid-size * ($tile-width + $tile-gap) + $tile-gap;
$container-height: $grid-size * ($tile-height + $tile-gap) + $tile-gap;

// ------- MIX-INS ------- 
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($duration) {
   -webkit-transition: $duration;
      -moz-transition: $duration;
       -ms-transition: $duration;
        -o-transition: $duration;
           transition: $duration;
}

@mixin tile {
   width: $tile-width;
   height: $tile-height;
   @include border-radius(8px);
}

// Not the nicest, but many variables need to be recalculated
// for media query
@mixin everything {
   body {
      font-family: $font-stack;
      color: $black;
      padding: 10px;
      background-color: lighten($green , 50%);
   }

   #outer-container {
      width: $container-width;
      margin: auto;
   }

   #game-board {
      height: $container-height;
      margin: auto;
      @include border-radius(15px);
      background: $grey;
      box-sizing: border-box;
      padding: $tile-gap;
      position: relative;
   }

   #game-over {
      width: $container-width;
      height: $container-height;
      margin: auto;
      @include border-radius(10px);
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      background: fade-out($grey, 0.25);
      @include transition(1s);

      font-size: 70px;
      font-weight: bold;
      text-align: center;
      padding-top: ($container-width) / 3;
   }

   .background-row:first-child {
      margin-top: 0;
   }

   .background-row {
      margin-top: $tile-gap;
      display: inline-block;
   }

   .background-tile:first-child {
      margin-left: 0;
   }

   .background-tile {
      @include tile();
      background: lighten($grey, 25%);
      margin-left: $tile-gap;
      float: left;
   }

   .player-tile {
      @include tile();
      position: absolute;
      @include transition(0.2s);
   }

   @for $x from 0 through ($grid-size - 1) {
      @for $y from 0 through ($grid-size - 1) {
         .pos-#{$x}-#{$y} {
            left: $tile-gap + ($tile-gap + $tile-width) * $x;
            top:  $tile-gap + ($tile-gap + $tile-height) * $y;
         }
      }
   }
}

#header {
   margin: 10px auto 20px auto;
   position: relative;
}

h1, h2, h3, p {
   margin: 10px 0;
}

hr {
   border: 1px solid lighten($green, 30%);
   margin: 20px 0;
}

#header .title-subtext {
   color: $grey;
}

#score-outer-container {
   position: absolute;
   top: 0;
   right: 0;
}

#score-outer-container .score-text {
   font-size: 12px;
}

.score-container {
   font-weight: bold;
   text-align: center;
   background: lighten($green, 25%);
   border: 3px solid darken($green, 10%);
   padding: 5px;
   @include border-radius(3px);
   display:inline-block;
}

#instructions {
   margin-top: 20px; 
}

#try-again {
   font-size: 30px;
   background: $green;
   padding: 10px;
   margin: 10px;
   display: inline-block;
   @include border-radius(3px);
}

#try-again:hover {
   cursor: pointer;
}

#grid-container {
   position: absolute;
}

/* Colours */
.red  {
   background: $red;
}   

.green {
   background: $green;
}

.blue {
   background: $blue;
}

.yellow {
   background: $yellow;
}

.cyan {
   background: $cyan;
}

.purple {
   background: $purple;
}

.hidden {
   display: none;
}

// The normal one for non-mobile
@include everything();

// Media query (reduced tile/board size) and a few additional tweaks
@media (max-width: 600px) {
   $tile-width: 55px * 4 / $grid-size !global;
   $tile-height: 65px * 4 / $grid-size !global;

   $container-width: $grid-size * ($tile-width + $tile-gap) + $tile-gap !global;
   $container-height: $grid-size * ($tile-height + $tile-gap) + $tile-gap !global;

   .tile {
      width: $tile-width;
      height: $tile-height;
      @include border-radius(5px);
      background: lighten($grey, 25%);
   }

   @include everything();

   #header h1 {
      font-size: 30px;
      line-height: 25px;
      width: 100px;
      margin-bottom: 5px;
   }

   #header .title-subtext {
      font-size: 12px;
   }

   #game-board {
      @include border-radius(10px);
   }

   #game-board #game-over {
      font-size: 45px;
   }

   #game-board #try-again {
      font-size: 25px;
   }
}
