#header {
  margin: 10px auto 20px auto;
  position: relative; }

h1, h2, h3, p {
  margin: 10px 0; }

hr {
  border: 1px solid #d5e999;
  margin: 20px 0; }

#header .title-subtext {
  color: #a88863; }

#score-outer-container {
  position: absolute;
  top: 0;
  right: 0; }

#score-outer-container .score-text {
  font-size: 12px; }

.score-container {
  font-weight: bold;
  text-align: center;
  background: #cde484;
  border: 3px solid #799521;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block; }

#instructions {
  margin-top: 20px; }

#try-again {
  font-size: 30px;
  background: #9bbf2a;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

#try-again:hover {
  cursor: pointer; }

#grid-container {
  position: absolute; }

/* Colours */
.red {
  background: #b83e47; }

.green {
  background: #9bbf2a; }

.blue {
  background: #205b80; }

.yellow {
  background: #f0c419; }

.cyan {
  background: #72d6be; }

.purple {
  background: #955ba5; }

.hidden {
  display: none; }

body {
  font-family: "Helvetica", "Verdana";
  color: #333333;
  padding: 10px;
  background-color: #f8fbed; }

#outer-container {
  width: 410px;
  margin: auto; }

#game-board {
  height: 450px;
  margin: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background: #a88863;
  box-sizing: border-box;
  padding: 10px;
  position: relative; }

#game-over {
  width: 410px;
  height: 450px;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(168, 136, 99, 0.75);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding-top: 136.66667px; }

.background-row:first-child {
  margin-top: 0; }

.background-row {
  margin-top: 10px;
  display: inline-block; }

.background-tile:first-child {
  margin-left: 0; }

.background-tile {
  width: 90px;
  height: 100px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  background: #d6c6b5;
  margin-left: 10px;
  float: left; }

.player-tile {
  width: 90px;
  height: 100px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.pos-0-0 {
  left: 10px;
  top: 10px; }

.pos-0-1 {
  left: 10px;
  top: 120px; }

.pos-0-2 {
  left: 10px;
  top: 230px; }

.pos-0-3 {
  left: 10px;
  top: 340px; }

.pos-1-0 {
  left: 110px;
  top: 10px; }

.pos-1-1 {
  left: 110px;
  top: 120px; }

.pos-1-2 {
  left: 110px;
  top: 230px; }

.pos-1-3 {
  left: 110px;
  top: 340px; }

.pos-2-0 {
  left: 210px;
  top: 10px; }

.pos-2-1 {
  left: 210px;
  top: 120px; }

.pos-2-2 {
  left: 210px;
  top: 230px; }

.pos-2-3 {
  left: 210px;
  top: 340px; }

.pos-3-0 {
  left: 310px;
  top: 10px; }

.pos-3-1 {
  left: 310px;
  top: 120px; }

.pos-3-2 {
  left: 310px;
  top: 230px; }

.pos-3-3 {
  left: 310px;
  top: 340px; }

@media (max-width: 600px) {
  .tile {
    width: 55px;
    height: 65px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #d6c6b5; }

  body {
    font-family: "Helvetica", "Verdana";
    color: #333333;
    padding: 10px;
    background-color: #f8fbed; }

  #outer-container {
    width: 270px;
    margin: auto; }

  #game-board {
    height: 310px;
    margin: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background: #a88863;
    box-sizing: border-box;
    padding: 10px;
    position: relative; }

  #game-over {
    width: 270px;
    height: 310px;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(168, 136, 99, 0.75);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 90px; }

  .background-row:first-child {
    margin-top: 0; }

  .background-row {
    margin-top: 10px;
    display: inline-block; }

  .background-tile:first-child {
    margin-left: 0; }

  .background-tile {
    width: 55px;
    height: 65px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    background: #d6c6b5;
    margin-left: 10px;
    float: left; }

  .player-tile {
    width: 55px;
    height: 65px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .pos-0-0 {
    left: 10px;
    top: 10px; }

  .pos-0-1 {
    left: 10px;
    top: 85px; }

  .pos-0-2 {
    left: 10px;
    top: 160px; }

  .pos-0-3 {
    left: 10px;
    top: 235px; }

  .pos-1-0 {
    left: 75px;
    top: 10px; }

  .pos-1-1 {
    left: 75px;
    top: 85px; }

  .pos-1-2 {
    left: 75px;
    top: 160px; }

  .pos-1-3 {
    left: 75px;
    top: 235px; }

  .pos-2-0 {
    left: 140px;
    top: 10px; }

  .pos-2-1 {
    left: 140px;
    top: 85px; }

  .pos-2-2 {
    left: 140px;
    top: 160px; }

  .pos-2-3 {
    left: 140px;
    top: 235px; }

  .pos-3-0 {
    left: 205px;
    top: 10px; }

  .pos-3-1 {
    left: 205px;
    top: 85px; }

  .pos-3-2 {
    left: 205px;
    top: 160px; }

  .pos-3-3 {
    left: 205px;
    top: 235px; }

  #header h1 {
    font-size: 30px;
    line-height: 25px;
    width: 100px;
    margin-bottom: 5px; }

  #header .title-subtext {
    font-size: 12px; }

  #game-board {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }

  #game-board #game-over {
    font-size: 45px; }

  #game-board #try-again {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
